.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > div:nth-child(1) {
  width: 100%;
}
.cards {
  margin-top: 20px;
  border: 0px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.cards > div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:10px;
}
